<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

    <title>QuickBite | {% block title %} {% endblock %}</title>
</head>
<body style="background-color: rgb(255, 105, 105);">

    <nav class="navbar navbar-expand-lg" style="background-color: rgb(0, 0, 0);">
      <div class="container-fluid"> 
        <a class="navbar-brand" href="/" style="color: rgb(255, 255, 255); font-size: 30px; margin-right: -2px;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="QuickBite Logo" style="height: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="color: rgb(255, 255, 255);" aria-current="page" href="/" style="font-family: cursive; font-size: 19px;">QuickBite</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-grey" style="color: rgb(255, 255, 255);" href="/contact-us" style="font-size: 17px;">Contact us</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-grey" style="color: rgb(255, 255, 255);" href="/menu" style="font-size: 17px;">Menu</a>
            </li>

            {% if current_user.is_authenticated %}
            
            <li class="nav-item">
              <a class="nav-link text-grey" style="color: rgb(255, 255, 255);" href="/promo" style="font-size: 17px;">Promotions</a>
            </li>
            {% endif %}

          </ul>
        </div>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >

          {% if current_user.is_authenticated and current_user.id == 2 %}
            <li class="nav-item mx-2">
              <a class="nav-link text-grey" style="color: rgb(255, 255, 255);" href="/kitchen-orders">
                Kitchen Orders <i class="fa-solid fa-utensils"></i>
              </a>
            </li>
          {% endif %}

          <li class="nav-item dropdown mx-2">
            {% if current_user.is_authenticated %}
            <a class="nav-link dropdown-toggle text-grey" style="color: rgb(255, 255, 255);" href="#" role="button", id="profileDropdown" 
            data-bs-toggle="dropdown" aria-hidden="false">
              Orders
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">

              <li class="nav-item mx-2" id="items">
            
                {% if cart | length < 1 %}
                <a class="nav-link text-grey" style="color: rgb(0, 0, 0);" href="/cart"><span class="badge bg-success"></span> Cart
                  <i class="fa-solid fa-cart-shopping"></i>
                </a>
                {% else %}
                <a class="nav-link text-grey" style="color: rgb(0, 0, 0);" href="/cart"><span class="badge bg-success"></span> Cart
                  <i class="bi bi-{{ cart | length }}-square-fill"></i>
                </a>
                
                {% endif %}
                
                
              </li>

              <li class="nav-item mx-1" id="orders">
                <a class="nav-link text-grey" style="color: rgb(0, 0, 0);" href="/order-history"><span class="badge bg-success"></span> My Orders
                  <i class="fa-solid fa-receipt"></i>
                </a>
            </li>
            
    
              <li class="nav-item mx-2" id="items">
                <a class="nav-link text-grey" style="color: rgb(0, 0, 0);" href="/favourites"><span class="badge bg-success"></span> Favourites
                  <i class="fa-solid fa-heart"></i>
                </a>
              </li>

              {% endif %}
            </ul>

          </li>

            {% if current_user.is_authenticated and current_user.id == 1 %}
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-grey" style="color: rgb(255, 255, 255);" href="#" role="button"
                id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                <li><a class="dropdown-item" href="/add-shop-items">Add Food Menu <i class="fa-solid fa-plus"></i></a></li>
                <li><a class="dropdown-item" href="/shop-items">View Menu <i class="fa-solid fa-bars"></i></a></li>
                <li><a class="dropdown-item" href="/admin-reviews">View Reviews <i class="fa-solid fa-comments"></i></a></li>
              </ul>
            </li>
            {% endif %}            

          <li class="nav-item dropdown mx-2">
            <a class="nav-link dropdown-toggle text-grey" style="color: rgb(255, 255, 255);" href="#" role="button", id="profileDropdown" 
            data-bs-toggle="dropdown" aria-hidden="false">
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">

              {% if current_user.is_authenticated %}

              <li><a class="dropdown-item" href="/profile/{{ current_user.id }}">Profile <i class="fa-solid fa-user"></i></a></li>
              <li><a class="dropdown-item" href="/logout">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>

              {% else %}

              <li><a class="dropdown-item" href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>

              {% endif %}
            </ul>

          </li>

        </ul>


      </div>
    </nav>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
    {% endfor %}
    {% block body %}
    {% endblock %}

    <footer class="container-fluid  text-center p-3 mt-5" style="background-color: rgb(4, 4, 4); color: rgba(255, 255, 255);">
        <a style="color: white;">QuickBite</a> | 2025 All rights reserved
    </footer>

    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/all.min.js') }}"></script>

</body>  
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>